.canvas-container {
  width: 100%;
  height: 400px;
  // background-color: rgba(212, 230, 244, 1)
}

.container-barchart {
  width: 100%;
  height: 360px;
}

.container-linechart3 {
  width: 100%;
  height: 400px;
}

.topdash {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}

.welcome-dash {
  background-color: $mgreen;
  color: $white;
  min-height: 300px;
  // vertical-align: middle;
}

.dash-arrow {
  color: $white;
}

.welcome-body {
  font-size: 25px;
}

.welcome-header-dashboard {
  color: $yellow;
}

.ltdas {
  width: 50%;
}

.rtdash {
 width: 50%;
}

.sales-dash {
  display: flex;
  justify-content: space-around;
  height: 100%;
  background-color: $mgreen;
  color: $white;
  height: 183px;
}

.sales-dash-block {
  width: 33.33%;
}

.sales-dash2 {
  background-color: $llblue;
  color: $black;
  height: 183px;
}

.sales-h-text {
  font-size: 18px;
}

.sales-total {
  font-size: 28px;
}

.sales-dash2 {
  font-size: 20px;
}

.sales-numbers {
  font-size: 28px;
  text-decoration: underline;
  color: $yellow;
}

.middash {
  background-color: $mgreen;
  color: $white;
  height: 113px;
}

.waterlevels-dash {
  display: flex;
  justify-content: space-around;
}

.waterlevels-dash-content {
  // border: 5px solid white;
}

.waterlevels-title {
  font-size: 40px;
  vertical-align: middle;
  line-height: 113px;
}

.waterlevels-location {
  font-size: 18px;
}

.waterlevels-volume {
  font-size: 29px;
  color: $yellow;
}

.botdash {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}

.lbdash {
  width: 50%;
}

.rbdash {
 width: 50%;
}

.info2-dash {
  background-color: $llblue;
  color: $black;
  height: 400px;
}

.twitter-dash {
  background-color: $llblue;
  height: 400px;
}

.twitter-timeline {
  max-height: 300px;
}
