.canvas-container {
  width: 100%;
  height: 400px;
  // background-color: rgba(212, 230, 244, 1)
}

.container-barchart {
  width: 100%;
  height: 360px;
}

.container-linechart3 {
  width: 100%;
  height: 400px;
}

.topdash {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}

.welcome-dash {
  background-color: $mgreen;
  color: $white;
  min-height: 300px;
  // vertical-align: middle;
}

.welcome-body {
  font-size: 25px;
}

.welcome-header-dashboard {
  color: $yellow;
}

.ltdas {
  width: 50%;
}

.rtdash {
 width: 50%;
}

.sales-dash {
  background-color: $mgreen;
  color: $white;
  height: 170px;
}

.sales-dash2 {
  background-color: $llblue;
  color: $black;
  height: 170px;
}

.middash {
  background-color: $mgreen;
  color: $white;
  height: 113px;
}

.botdash {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}

.lbdash {
  width: 50%;
}

.rbdash {
 width: 50%;
}

.info2-dash {
  background-color: $llblue;
  color: $black;
  height: 400px;
}

.twitter-dash {
  background-color: $llblue;
  height: 400px;
}

.twitter-timeline {
  max-height: 300px;
}
