.error-background {
  height: 100%;
  background-image: image-url("Milano-Air-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 95px;
  z-index: 1;
}
