// Specific CSS for your home-page
.container {
  display: flex;
  flex-direction: column;
}

.home-background {
  height: 100%;
  background-image: image-url("bargehome.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 95px;
  z-index: 1;
}

.home-background2 {
  height: 100%;
  background-color: $white;
}

.home-font {
  color: $white;
}

.navbar-home-padding {
  padding-top: 99px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 170px 0;
}

.banner h1 {
  margin: 0;
  color: $white;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 51px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: $white;
  // opacity: .7;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner2 {
  background-size: cover;
  background-position: center;
  padding: 170px 0;
}

.banner2 h1 {
  margin: 0;
  color: $black;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 51px;
  font-weight: bold;
}

.banner2 p {
  font-size: 20px;
  color: $black;
  // opacity: .7;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.home-info {
  display: flex;
  align-items: flex-start;
}

.home-info-subcards {
  display: flex;
}

.home-info-subcard {
}

.home-info-subcard-head {
 font-size: 19px;
}

.home-info-subcard-text {
  font-size: 20px;
}


