// Specific CSS for your home-page
.home-background {
  height: 100%;
  background-image: image-url("bargehome.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 75px;
  z-index: 1;
}

.home-background img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


.home-font {
  color: $white;
}

.navbar-home-padding {
  padding-top: 99px;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 170px 0;
}

.banner h1 {
  margin: 0;
  color: $white;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 51px;
  font-weight: bold;
}

.btn-home i.fas.fa-arrow-right {
  margin-right: 10px;
  text-decoration: none;
}

.banner p {
  font-size: 20px;
  color: $white;
  // opacity: .7;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.home-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
}
