// File for the marketplace pages
.container-cargo-index {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
}

.container-barge-index {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
}
