.delete-when-done {
  border: 5px solid red;
}

.nomination-background {
  min-width: 1440px;
  background-color: $llblue;
}

.container-nomination-background {
  background-color: $white;
}

.boat-logo {
  font-size: 60px;
  padding-left: 85px;
}

.nomination-header {
  font-size: 52px;
  color: $mgreen;
}

.booking-details-broker {
  font-size: 22px;
  padding-left: 92px;
}

.booking-details-oilcompany {
  font-size: 22px;
  padding-left: 320px;
}

.booking-details-left {
  margin-left: 258px;
  font-size: 22px;
}

.booking-details-right {
  margin-left: 200px;
  font-size: 22px;
}

.nomination-buttons {
  margin-left: 800px;
}

.comment-card-margins {
  margin-left: 250px;
  margin-right: 200px;
}

.comment-text {
  font-size: 22px;
}
