<div class="footer">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item footer-item">Cookie policy</li>
    <li class="list-group-item footer-item">Terms and Conditions</li>
    <li class="list-group-item footer-item">Contact</li>
    <li class="list-group-item footer-item">Help</li>
  </ul>
</div>
