<div class="footer">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item footer-item"><%= link_to "Cookie policy", "https://www.youtube.com/watch?v=dQw4w9WgXcQ"%></li>
    <li class="list-group-item footer-item"><%= link_to "Terms and Conditions", "https://www.youtube.com/watch?v=dQw4w9WgXcQ"%></li>
    <li class="list-group-item footer-item"><%= link_to "Contact", "https://www.youtube.com/watch?v=dQw4w9WgXcQ"%></li>
    <li class="list-group-item footer-item"><%= link_to "Help", "https://www.youtube.com/watch?v=dQw4w9WgXcQ"%></li>
  </ul>
</div>
