
<div class="canvas-container">
  <canvas id="chart1" class="chart-waterlevels"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div class="container-barchart">
  <canvas id="chart2" class="chart-freigthrates"></canvas>
</div>

<div class="container-linechart3">
  <canvas id="chart3" class="chart-freigthrates"></canvas>
</div>
