<div class="container-dashboard">
  <div class="topdash">
    <div class="ltdas">
      <div class="welcome-dash pt-5 pb-5 pl-5 pr-5">
        <div class="welcome-header pt-5">
          <h2>Welcome to your <span class="welcome-header-dashboard">dashboard</span></h2>
        </div>
        <div class="welcome-body">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
      </div>
      <div class="canvas-container pt-5 pb-5">
        <canvas id="chart1" class="chart-waterlevels"></canvas>
      </div>
    </div>

    <div class="rtdash">
      <div class="container-barchart">
        <canvas id="chart2" class="chart-freigthrates"></canvas>
      </div>
      <div class="sales-dash pt-5 pb-5 pl-5 pr-5">
        <div class="sales-header">
          <h2>Welcome to your dashboard</span></h2>
        </div>
        <div class="sales-body">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
        </div>
      </div>
      <div class="sales-dash2 pt-1 pb-1 pl-5 pr-5">
        <div class="sales-header">
          <h2>Welcome to your <span class="sales-header-dashboard">dashboard</span></h2>
        </div>
      </div>
    </div>

  </div>
  <div class="middash">
    <div class="waterlevels-dash pt-5 pb-5 pl-5 pr-5">
      <div class="waterlevels-header">
        <h2>Some items here</h2>
      </div>
    </div>
  </div>

  <div class="botdash">
    <div class="lbdash">
      <div class="twitter-dash pt-5 pb-5 pl-5 pr-5">
        <a class="twitter-timeline" href="https://twitter.com/HavenRotterdam?ref_src=twsrc%5Etfw">Tweets by HavenRotterdam</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    <div class="rbdash">
      <div class="container-linechart3 pt-5 pb-5">
        <canvas id="chart3" class="chart-freigthrates"></canvas>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
