<div class="home-background">
  <div class="banner">
    <div class="container home-font">
      <h1 class="mb-2">We bring efficiency <br>to the shipping industry</h1>
      <p>The platform where oil suppliers and shipbrokers for inland<br>barging Europe will efficiently benefit from eachother.</p>
      <div class="home-buttons pt-5">
        <div class="btn-home mr-4"><i class="fas fa-arrow-right"></i><%= link_to " Find a Barge", "/barges"%></div>
        <div class="btn-home"><i class="fas fa-arrow-right"></i><%= link_to " Find a Cargo", "/cargos"%></div>
      </div>
    </div>
    </div>
  </div>
</div>
<div class="home-background2">
</div>
