.booking-top-row {
background-color: $ldblue;

}

.booking-form {
  height: 900px;
  width: 300px;
}

.booking-text {
  color: $mgreen;
}

.booking-card {
  display: flex;
  flex-direction: column;
}

.booking-specifics {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100%;
}

.booking-info {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.bookings-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.booking-name {
  display: flex;
  flex-direction: column;
}

.booking-load-date {
  display: flex;
  flex-direction: column;
}

.booking-volume {
  display: flex;
  flex-direction: column;
}

.booking-load-location {
  display: flex;
  flex-direction: column;
}

.booking-discharge-location {
  display: flex;
  flex-direction: column;
}

.booking-delete {
  display: flex;
  flex-direction: column;
}
