.btn-back-login {
  color: #4A4A4A;
  font-size: 20px;
  background-color: #EDF5FB;
  padding: 8px 24px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 234px;
  height: 50px;
}

.btn-back-login a {
  color: #4A4A4A;
  text-decoration: none;
}

.btn-back-login:hover {
  opacity: 0.6;
}

.btn-forward-login {
  color: #4A4A4A;
  font-family: roboto;
  font-size: 20px;
  background-color: #F7DB64;
  padding: 8px 24px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 234px;
  height: 50px;
}

.btn-forward-login:hover {
  opacity: 0.6;
}

.btn-home {
  font-family: $body-font;
  color: #4A4A4A;
  font-size: 12px;
  background-color: #F7DB64;
  padding: 8px 24px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 182px;
  height: 50px;
}

.btn-home:hover {
  opacity: 0.6;
}

.btn-home i.fas.fa-arrow-right {
  margin-right: 10px;
}

.btn-home i {
  text-decoration: none;
}

.bl {
  font-family: $body-font;
  font-size: 20px;
}
