.footer {
  background: #4E8483;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 94px;
  padding: 0px 50px;
}

.footer-item {
  font-size: 20px;
  color: white;
  background: lgreen;
  border: 0px;
}
