.footer {
  background: $lgreen;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  padding: 0px 50px;
}

.footer-item {
  background: $lgreen;
  border: 0px;
}

.footer-item a {
  font-size: 14px;
  color: $white;
  text-decoration: none;
}


