.form-fonts {
  font-family: $body-font;
}

.form-l {
  min-width: 50%;
}

.form-body {
}

.form-group {
  margin-bottom: 2rem;
}

.form-title {
  margin-bottom: 2rem;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

.create-account-card {
  width: 500px;
}

.form-create-margin {
  margin-left: 0px;
}
